In [2]:
import pandas as pd
import os

In [3]:
df1 = pd.read_excel(os.path.join('270(去程).xlsx'))
df2 = pd.read_excel(os.path.join('281(去程).xlsx'))
df3 = pd.read_excel(os.path.join('306區(去程).xlsx'))
df4 = pd.read_excel(os.path.join('265區(三重)(去程).xlsx'))
df5 = pd.read_excel(os.path.join('12(去程).xlsx'))
df6 = pd.read_excel(os.path.join('645(去程).xlsx'))

In [4]:
df = pd.concat([df1, df2, df3, df4, df5, df6])
df = df.fillna('')

In [5]:
df.shape

(257, 10)

In [6]:
df.shape

(257, 10)

In [7]:
df = df[['BusNumber', 'StopNameZh', 'StopLat', 'StopLon', 'MRT_Train']]

In [8]:
df.head()

   BusNumber  StopNameZh    StopLat     StopLon MRT_Train
0        270  中華科技大學(正門)  25.033828  121.609765
1        270      中華科技大學  25.033524  121.611187
2        270        軍人公墓  25.033296  121.612194
3        270         凌雲站  25.034612  121.614489
4        270        九如里二  25.034863  121.616120

In [9]:
df.to_csv('../data.csv', index=False)